{{ if eq .chezmoi.os "linux" }}
#!/usr/bin/env bash
set -euo pipefail
# set bw cli to use correct server
bw config server "https://vw.kaarel.page"
# Add GitHub SSH private key from Bitwarden vault to the SSH agent.
{{ $key := (bitwarden "item" "Karelak Github Account").sshKey.privateKey -}}
echo "{{ $key }}" | ssh-add -
{{ end -}}
