edit:
  command: code
  args:
    - "--wait"
diff:
  command: "code"
  args:
    - "--wait"
    - "--diff"
merge:
  command: "bash"
  args:
    - "-c"
    - 'cp {{ "{{ .Target }}" }} {{ "{{ .Target }}.base" }} && code --new-window --wait --merge {{ "{{ .Destination }}" }} {{ "{{ .Target }}" }} {{ "{{ .Target }}.base" }} {{ "{{ .Source }}" }}'
git:
  autoCommit: true
  autoPush: true
github:
  refreshPeriod: 24h
bitwarden:
  unlock: true
scriptenv:
  BW_SESSION: BW_SESSION=$(bw unlock --raw)
