[user]
	name = Kaarel Part
	email = partkaarel@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE6e0mIw/AtOOnk0c5AvCScmOCodFuwtGzPh/S110DYY
[gpg]
	format = ssh
[commit]
	gpgsign = true
{{if eq .chezmoi.os "windows"}}
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[gpg "ssh"]
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
{{end}}